<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon name="arrow-back-outline" style="margin-left: 10px;" [routerLink]="['/login']" class="back"></ion-icon>
    </ion-buttons> 
    <ion-title class="title">
      CONTRASEÑA.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header style="text-align: center;">
        <ion-title> Recuperar Contraseña.</ion-title>
        <ion-subtitle>Por favor ingresa tu dirección email.</ion-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Email: </ion-label>
            <ion-input required placeholder="juan.alexander@gmail.com" type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button (click)="resetPassword()" shape="round" expand="block" class="reestablecer"> Reestablecer Contraseña </ion-button>
</ion-content>
