<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon name="arrow-back-outline" style="margin-left: 10px;" [routerLink]="['/home']" class="back"></ion-icon>
    </ion-buttons> 
    <ion-title class="title">
      MI PERFIL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <h2>Nombre: {{user?.userName}}</h2>
      <h2>Email: {{user?.userEmail}}</h2>
      <h2>Teléfono: {{user?.userPhone}}</h2>
      <h2>Tipo de cuenta: {{user?.userType}}</h2>
      <h2>Auto: {{user?.userCar}}</h2>
      <h2>Patente: {{user?.userPatente}}</h2>
      <h2>N° Licencia: {{user?.userLicencia}}</h2>
      <h2>Fecha de creación: {{user?.createdAt | date }}</h2>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" shape="round" (click)="editProfile()" class="btn-edit"> Edit Profile </ion-button>
</ion-content>
