ion-title{
    text-align: center;
}
.imagen{
    margin-top: 20%;
    margin-bottom: 20%;
}
ion-list{
    background-color: transparent;
}
.btn-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.link2{
    text-align: center;
}
.title{
    text-align: end;
}