.contenedor{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.botones{
    display: inline-flex;
}
.btn{
    width: 100px;
    transition: .1s ease all;
}
.img{
    padding: 0px 20px 0px 20px;
}
