<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon name="arrow-back-outline" style="margin-left: 10px;" [routerLink]="['/home']" class="back"></ion-icon>
    </ion-buttons> 
    <ion-title class="title">
      Mapa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Destino</ion-label>
    <ion-input placeholder="Reescribe el destino" [(ngModel)]="destination"></ion-input>
  </ion-item>
  <ion-button (click)="calculateRoute()" expand="full">Iniciar</ion-button>

  <div id="map"></div>
</ion-content>
